main {
  max-width:940px;
  margin:0 auto;

  p {
    margin-top:200px;
    max-width:620px;
    font-weight:200;
    font-family: 'Slabo 27px', serif;
    float:right;
    font-size:26px;
    line-height:1.65;
  }
}
