footer {
  background-color:$footer-color;
  text-align:center;
  height:400px;

  article {
    float:left;
    padding-left:90px;
  }

  h3 {
    float:none;
    font-size:2.3em;
    text-transform:uppercase;
    font-weight:900;
    letter-spacing:-1px;
    padding:30px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
  }

  h3:last-child {
    padding-top:20px;
  }

  h3:first-child {
    padding-top:50px;
  }

  img {
    float:left;
  }

  p {
    clear:both;
    padding-top:50px;
  }

  a {
    font-weight:400;
    font-family: 'Merriweather', serif;
    color:$font-color;
    display:block;
    padding:5px 0;
    text-decoration:none;
    font-size:20px;
    cursor:pointer;
    line-height:1.60;
  }

  a:nth-child(n+5) {
    float:left;
    margin-top:10px;
    width:45px;
    height:45px;
    text-align:center;
    padding:8px 10px 10px 10px;
    margin-right:20px;
    border:1px solid gray;
    transition:background 0.8s;
  }

  a:nth-child(n+5):hover {
    background-color:rgba(0,0,0,0.1);
  }
}
