@media all and (max-width: 768px) {
  header {
    .line-bg {
      height:60px;
    }

    span.icon-menu7 {
      font-size:3.5em;
      top:15px;
    }

    .for-hire {
      height:50px;
    }

    .icon-office {
      font-size:30px;
    }

    .pag-dots {
      margin-top:30px;
      width:177px;
    }

    .pag-dots a {
      height:12px;
      width:12px;
    }
  }
}

@media all and (max-width:600px) {
  header {
    .for-hire {
      font-size:12px;
    }
  }
}

@media all and (max-width:400px) {
  header {
    .for-hire span {
      display:none;
    }

    .for-hire a {
      top:-3px;
      width:50px;
    }
  }
}
