@media all and (max-width: 768px) {
  header {
    .line-bg {
      height:60px;
    }

    span.icon-menu7 {
      font-size:3.5em;
      top:15px;
    }

    .for-hire {
      height:50px;
    }

    .icon-office {
      font-size:30px;
    }

    .pag-dots {
      margin-top:28px;
    }
  }
}
