header {
  width:100%;
  position:relative;
  z-index:10;
}

header {
  .line-bg {
    position:relative;
    height:76px;
    margin-bottom:-76px; // so it doesn't push content down when relative
    width:100%;
    transition:background 0.8s;
    background:transparent;
  }

  .pag-dots {
    display:none;
    width:192px;
    margin:0 auto;
    margin-top:36px;
  }

  .pag-dots a {
    display:inline-block;
    overflow:hidden;
    text-indent:-32px;

    height:16px;
    width:16px;
    margin:0 15px;
    text-decoration:none;
    border-radius:50px;
    background-color:rgba(0,0,0,0.1);
  }

  .pag-dots a:nth-child(1) {
    background-color:rgba(255,255,255,0.8);
  }

  .line-nav {
    height: 10px;
    width: 25%;
    background-color:gray;
    float: left;
  }

  .line-nav:nth-child(1) {
    background-color:$blue-color;
  }

  .line-nav:nth-child(2) {
    background-color:$red-color;
  }

  .line-nav:nth-child(3) {
    background-color:$green-color;
  }

  .line-nav:nth-child(4) {
    background-color:$yellow-color;
  }
}
