@media all and (max-width:1040px) {
  section.intro {
    article {
      padding-left:10px;
      padding-right:10px;
    }
  }
}

@media all and (max-width:768px) {
  section.intro {

    min-height:650px;

    article {
      display:block;
      float:none;
      width:90%;
      margin:0 auto;
    }

    article:nth-child(2) {
      margin-left:auto;
    }

    h1 .huge-text {
      font-size:5.5em;
    }

    .contain {
      margin-top:50px;
    }

    .chevron {
      bottom:20px;
    }

    .left, .right {
      margin-top:14%;
    }

    .chevron {
      display:none;
    }
  }
}

@media all and (max-width:440px) {
  section.intro {
    h1 .huge-text {
      font-size:4em;
    }

    h1 {
      font-size:14px;
    }

    .left, .right {
      margin-top:30%;
    }
  }
}
