/** main scss file for tomchinery theme */

/** assign variables */
$font-color: #2f363b;

$blue-color: #3498db;
$red-color: #e74c3c;
$green-color: #2ecc71;
$yellow-color: #f1c40f;
$overview-color: rgb(198, 207, 212);

$light-blue-color: #93b9ec;

@import 'typography';
@import 'intro';
@import 'icons';
@import 'nav';
@import 'header';

body {
  height:3000px;
  overflow-y: hidden;

}

#main-anchor {
  height:20px;
  background-color:blue;
}

section {
  position:relative;
  z-index:1;
}

.contain {
  max-width:1020px;
  margin:0 auto;
}
