/** main scss file for tomchinery theme */

/** assign variables */
$font-color: #2f363b;

$blue-color: #3498db;
$red-color: #e74c3c;
$green-color: #2ecc71;
$yellow-color: #f1c40f;
$overview-color: rgb(198, 207, 212);

$light-blue-color: #93b9ec;

@import 'typography';
@import 'intro';
@import 'icons';
@import 'nav';
@import 'header';
@import 'content';

body {
  height:3000px;
  overflow-y: hidden;
}

section {
  position:relative;
  z-index:1;
}

.contain {
  max-width:1020px;
  margin:0 auto;
}

#main-anchor {
  height:20px;
}

.hero {
  margin-top:56px;
  margin-bottom:90px;
}

.hero h1 {
  z-index:2;
  color:white;
  position:absolute;
  text-align:center;
  left:0;
  line-height:1.65;
  width:366px;
  margin:0 auto;
  right:0;
  margin-top:9%;
}

.hero h1 .huge-text {
  line-height:1;
}

.overlay {
  z-index:1;
  height: 600px;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
}

.hero img {
  max-height:600px;
  width:100%;
}
